<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Famcamp Register</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
    <script type="text/javascript" src="crypto-js.js"></script>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a
        href="/"
        class="text-secondary ps-2"
        style="text-decoration: none; padding-top: 0.2rem"
        ><img
          src="images/airforce.png"
          class="nav-link text-secondary text-decoration-none tracking-wide"
          style="border-radius: 25px; display: inline-block"
          width="45"
          height="45"
          alt=""
        />&nbsp;&nbsp;HILL AFB FAMCAMP</a
      >
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#rvNavbar"
        aria-controls="rvNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="rvNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/sites">&emsp;SITES</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              onclick="event.preventDefault(); showMap();"
              style="cursor: pointer"
              id="rMapLink"
              >&emsp;MAP</a
            >
          </li>
        </ul>
      </div>
      <div class="navbar-nav ml-autod-md-block">
        <li class="nav-item">
          <a
            class="nav-link"
            style="margin-left: 1rem; padding-right: 1rem"
            type="button"
            href="/register"
            >REGISTER</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="margin-left: 1rem; padding-right: 1rem"
            type="button"
            href="/login"
            >LOGIN</a
          >
        </li>
      </div>
    </nav>
    <div id="registerContent" style="display: block">
      <div
        class="container text-center mt-4 p-3"
        style="background-color: #01337e"
      >
        <h2 class="text-light" style="letter-spacing: 4px; color: lightgray">
          HILL AFB FAMCAMP
        </h2>
      </div>
      <div class="container bg-light text-center">
        <div class="row" style="display: flex; flex-wrap: wrap">
          <div class="col-6 d-none d-lg-block text-center bg-danger h-100">
            <img
              src="images/rvpark-people2.jpg"
              width="104%"
              height="135%"
              alt="RV Park"
              style="margin-left: -0.75rem"
            />
          </div>
          <div class="col-sm-12 col-lg-6 text-center p-0 m-0">
            <div class="row d-flex justify-content-between p-0 m-0">
              <div class="btn-group w-100 p-0 m-0" role="group">
                <button
                  class="btn btn-primary btn-lg flex-fill ps-0 pe-0 ms-0 me-0"
                  style="
                    border-radius: 0;
                    border-right: 1px solid black;
                    margin-right: 1px;
                  "
                  onclick="window.location.href='/register'"
                >
                  Register
                </button>
                <button
                  class="btn btn-primary btn-lg flex-fill ps-0 pe-0 ms-0 me-0"
                  style="border-radius: 0"
                  onclick="window.location.href='/login'"
                >
                  Sign In
                </button>
              </div>
            </div>
            <div class="row">
              <form
                id="registerPage"
                onSubmit="return register(event);"
                method="post"
                style="display: block"
              >
                <div class="ps-4 pe-4 pt-4 pb-0">
                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-envelope-at-fill text-white"></i>
                    </span>
                    <input
                      id="email"
                      name="email"
                      type="email"
                      class="form-control"
                      autofocus="autofocus"
                      placeholder="Email"
                    />
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-person-plus-fill text-white"></i>
                    </span>
                    <input
                      id="firstname"
                      name="firstname"
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-person-plus-fill text-white"></i>
                    </span>
                    <input
                      id="lastname"
                      name="lastname"
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                    />
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-telephone-fill text-white"></i>
                    </span>
                    <input
                      id="phone"
                      name="phone"
                      type="tel"
                      class="form-control"
                      placeholder="Phone Number"
                    />
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-person-vcard-fill text-white"></i>
                    </span>
                    <select
                      id="serviceBranch"
                      name="serviceBranch"
                      class="input-group form-control"
                    >
                      <option value="" hidden>
                        Which branch are you affiliated with?
                      </option>
                      <option value="Air Force">Air Force</option>
                      <option value="Army">Army</option>
                      <option value="Coast Guard">Coast Guard</option>
                      <option value="Marines">Marines</option>
                      <option value="Navy">Navy</option>
                      <option value="DOD Authorized Civilian">
                        DOD Authorized Civilian
                      </option>
                    </select>
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-person-badge-fill text-white"></i>
                    </span>
                    <select
                      id="serviceStatus"
                      name="serviceStatus"
                      class="input-group form-control"
                    >
                      <option value="" hidden>
                        What is your current service status?
                      </option>
                      <option value="Active">Active Duty</option>
                      <option value="Retired">Retired</option>
                    </select>
                  </div>

                  <div class="input-group mb-2">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-key-fill text-white"></i>
                    </span>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                    />
                  </div>
                  <div class="input-group">
                    <span class="input-group-text bg-primary">
                      <i class="bi bi-key-fill text-white"></i>
                    </span>
                    <input
                      id="confirm"
                      name="confirm"
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                  </div>
                  <!-- REMOVED THE STYLING FOR validID to test -->
                  <div
                    id="validID"
                    class="input-group mt-2 ms-2"
                    style="display: block"
                  >
                    <input type="checkbox" id="checkbox" name="checkbox" />
                    <label for="checkbox" class="ms-3">
                      I acknowledge I must have a valid ID card to enter Hill
                      AFB to use the FamCamp</label
                    >
                  </div>
                  <div>
                    <p id="message" class="text-danger" style="height: 15px">
                      <%- locals.message %>
                    </p>
                  </div>
                  <input type="hidden" id="hash" name="hash" />
                  <input type="hidden" id="salt" name="salt" />
                  <input type="hidden" id="type" name="type" />
                  <div class="text-center m-0 p-0">
                    <button class="btn btn-primary" type="submit">
                      Register
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr class="featurette-divider text-light" />
      <br />
      <div class="container-sm mt-3">
        <footer>
          <div class="row text-light text-center">
            <div class="col-8 text-center mx-auto">
              <h2 class="text-secondary">About Us</h2>
              <p>
                Our campsite is run by a team of passionate individuals who have
                a deep love and respect for the outdoors. We understand the
                importance of family time and creating lasting memories, which
                is why we have created a safe and enjoyable environment for
                families to relax and reconnect.
              </p>
            </div>
          </div>
          <div class="row text-light">
            <div class="col-4">
              <h3 class="text-center text-secondary">Hours</h3>
              <div class="w-80 p-4">
                <h5><b>Office Hours Mon – Fri</b></h5>
                <p>0800 – 1600</p>
                <h5><b>Office Hours Sat – Sun</b></h5>
                <p>Closed</p>
                <h5><b>Check In</b></h5>
                <p>After 1300</p>
                <h5><b>Check Out</b></h5>
                <p>Before 1200</p>
                <h5><b>Quiet Hours</b></h5>
                <p>
                  2200 – 0800 -
                  <i>Generators are not permitted during quiet hours.</i>
                </p>
              </div>
            </div>
            <div class="col-4">
              <h3 class="text-center text-secondary">Contact Us</h3>
              <div class="w-80 p-4">
                <h5><b>Phone</b></h5>
                <p>(801) 775-3250</p>
                <h5><b>Address</b></h5>
                <p>5622 Park Lane, Bldg. 564 Hill AFB, UT 84056</p>
              </div>
            </div>
            <div class="col-4">
              <h3 class="text-center text-secondary">Mailing Information</h3>
              <div class="w-80 p-4">
                <h5><b>USPS</b></h5>
                <p>
                  Your Name and Site # <br />
                  FamCamp<br />
                  7338 Loncki St.<br />
                  Hill AFB, UT 84056
                </p>
                <p>
                  Regular Mail can be picked up at the Base Post Office Bldg.
                  344
                </p>
                <h5><b>UPS and FedEx</b></h5>
                <p>
                  Your Name<br />
                  FamCamp Bldg 564 Site #<br />
                  5622 Park Lane<br />
                  Hill AFB, UT 84056
                </p>
                <p>Parcels are delivered to the office.</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div id="registerMap" style="display: none" onclick="showMap()">
      <img
        width="100%"
        class="map"
        src="/images/famcamp-map.png"
        alt="FamCamp Map"
      />
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="crypto-js.js"></script>
    <script>
      $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
      });
    </script>

    <script>
      function register(event) {
        // Need to check if Acknowledgment checkbox is checked before allowing form submission
        const password1 = document.getElementById("password").value;
        const password2 = document.getElementById("confirm").value;
        let passwordValid = false;
        let message = "";
        if (document.getElementById("checkbox").checked) {
          // Other form validation code here
          if (document.getElementById("email").value == "") {
            message = "Please enter an email address";
          } else if (document.getElementById("firstname").value == "") {
            message = "Please enter your first name";
          } else if (document.getElementById("lastname").value == "") {
            message = "Please enter your last name";
          } else if (document.getElementById("phone").value == "") {
            message = "Please enter your phone number";
          } else if (document.getElementById("serviceBranch").value == "") {
            message = "Please select a service branch";
          } else if (document.getElementById("serviceStatus").value == "") {
            message = "Please select a service status";
          } else if (password1 == "") {
            message = "Please enter password";
          } else if (password2 == "") {
            message = "Please re-enter password";
          } else if (password1 != password2) {
            message = "Passwords didn't match";
          } else {
            passwordValid = true;
          }
          if (!passwordValid) {
            document.getElementById("message").innerHTML = message;
            event.preventDefault();
          } else {
            let salt = CryptoJS.lib.WordArray.random(8);
            document.getElementById("salt").value = salt;
            let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(
              CryptoJS.enc.Hex
            );
            document.getElementById("hash").value = hashed;
            document.getElementById("type").value = "registration";
          }
        } else {
          message = "Please confirm you have base access";
          document.getElementById("message").innerHTML = message;
          event.preventDefault();
        }
      }
      function showMap() {
        const mapContainer = document.getElementById("registerMap");
        const body = document.getElementById("registerContent");
        mapContainer.style.display =
          mapContainer.style.display === "none" ? "block" : "none";
        body.style.display = body.style.display === "block" ? "none" : "block";
      }
    </script>
  </body>
</html>
